spring:
  application:
    name: simulaaws-dev

  docker:
    compose:
      enabled: false

  datasource:
    url: jdbc:h2:mem:simulaaws
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false

server:
  port: 8080

clients:
  auth:
    url: http://localhost:8080
  exam:
    url: http://localhost:8080
  attempt:
    url: http://localhost:8080
  stats:
    url: http://localhost:8080

app:
  jwt:
    secret: dev-secret-key-simulaaws-development-only-not-for-production-64-bytes-minimum-878xxxxx
    expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,h2-console
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui
    operations-sorter: method
  writer-with-order-by-keys: true

info:
  app:
    version: 1.0.0-DEV
    description: SimulaAWS - Development Profile
    architecture: modular-monolith
    profile: dev

logging:
  level:
    root: INFO
    br.com.simulaaws: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

