spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/simulacert
    username: postgres
    password: postgres

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: INFO
    br.com.simulacert.auth: INFO
    org.springframework.security: WARN

