spring:
  application:
    name: auth-service-dev

  datasource:
    url: jdbc:h2:mem:auth
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: dev-secret-key-simulaaws-development-only-not-for-production-64-bytes-minimum-878xxxxx
    expiration: 86400000

logging:
  level:
    root: DEBUG
    br.com.simulaaws.auth: DEBUG
    org.springframework.security: DEBUG
