spring:
  application:
    name: attempt-service

  datasource:
    url: jdbc:postgresql://localhost:5432/simulaaws
    username: postgres
    password: postgres

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false


logging:
  level:
    root: INFO
    br.com.simulaaws.attempt: INFO
